{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat History</title>
    <link rel="stylesheet" type="text/css" href="{% static 'chatapp/history.css' %}">
</head>
<body>
    <div class="container">
        <h1>Chat History</h1>
        <ul>
            {% for conversation in conversations %}
            <li id="entry-{{ conversation.id }}">
            <strong>Question:</strong> {{ conversation.question }}<br>
            <strong>Answer:</strong> {{ conversation.answer }}<br>
            <strong>User IP:</strong> {{ conversation.ip_address }}<br>
            <strong>Time:</strong> {{ conversation.time|date:'H:i' }} {{ conversation.date }}<br>            
            </li>
         {% endfor %}
        </ul>
    </div>
    
</body>
</html>
